---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Welcome</h1>
  <p>
    I'm a software engineer and former offshore engineer and furniture maker.
  </p>
  <p>
    I've started this blog to share some things I make, fix and do. This will be
    a mix of making things and some tech stuff, I recently had to do a short
    presentation on myself at work and realised I don't make as much stuff as I
    used to. So I'm planning on making more stuff and sharing it here and
    hopefully it can help some people out or inspire them to do their own
    projects.
  </p>
  <p>
    What are you waiting for head to the <a href="/blog">Blog</a> and have a read.
  </p>
</MainLayout>
