---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full flex flex-col items-center min-h-dvh justify-between p-4">
    <div>
      <Header title={SITE_TITLE} />
      <main class="w-full max-w-5xl prose">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
